@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* INSERISCI IL NOME DEL FONT E LE CONFIGURAZIONI CSS DI BASE */

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato-Black.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Lato;
  src: url("./assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

body,
html {
  background-color: #ffff;
  scroll-behavior: smooth;
}

body,
html {
  font-family: Lato;
  font-weight: 400;
  color: #0d0d0d;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: none;
  box-shadow: none;
  border-radius: 0;
}
